<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nirali.tasty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tasty"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FragmentContainerActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryBoyActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".admin_profile_Details"
            android:exported="false" />
        <activity
            android:name=".admin_product_details"
            android:exported="false" />
        <activity
            android:name=".admin_CategoryDetails"
            android:exported="false" />
        <activity
            android:name=".AdminOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".TrackorderActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity3"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity2"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity3" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_main3" -->
        <!-- android:theme="@style/Theme.Tasty" /> -->
        <activity
            android:name=".CheckoutActivity1"
            android:exported="false" />
        <activity
            android:name=".ProductDetail"
            android:exported="false" />
        <activity
            android:name=".ProductActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetails"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />
    </application>

</manifest>